@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #070a12;
    --background: #fbfcfe;
    --primary: #3b6ac9;
    --secondary: #86a5e4;
    --accent: #5987e3;
  }
  .dark {
    --text: #edf0f8;
    --background: #010204;
    --primary: #3665c4;
    --secondary: #1b3a79;
    --accent: #1c4aa6;
  }
  h1 {
    @apply text-8xl  text-gray-700 font-bold font-poppins text-center inline-block;
  }
  h2 {
    @apply text-6xl  text-gray-600 font-bold font-poppins text-center inline-block;
  }
  h3 {
    @apply text-4xl text-gray-600  font-bold font-poppins text-center inline-block;
  }
}
@layer components {
  .container {
    @apply mx-auto px-5 sm:max-w-[620px] md:max-w-[648px] lg:max-w-[1004px] xl:max-w-[1260px] 2xl:max-w-[1516px];
  }
  .section {
    @apply mt-16 min-h-screen;
  }
  .nav {
    @apply hidden md:flex gap-8 font-medium font-poppins lg:text-lg lg:gap-16 xl:text-xl xl:gap-20;
  }
  .logo {
    @apply inline-block bg-gradient-to-r from-primary to-accent bg-clip-text text-transparent font-monstt  font-bold max-lg:text-2xl lg:text-3xl xl:text-4xl;
  }
}
